<main class="router-outlet checkout-thing">
  <section>
    <h2>Shopping Cart</h2>
    <ul id="Shopping">
      <li class="list-header">
        <span>Product Name</span>
        <span>Price</span>
        <span>Quantity</span>
        <span>Total</span>
      </li>
      <li *ngFor="let product of cartProduct; let i = index">
        <span class="product-name"
          >{{ product.name }} / {{ product.size }}</span
        >
        <span class="product-price">{{ product.price | currency }} </span>
        <span class="product-quantity"
          ><input
            type="number"
            [(ngModel)]="product.shoppingCartQuantity"
            max="{{ product.quantity }}"
            min="1"
            oninput="this.value = this.value.replace(/[^0-9.]/g);"
            limit-to-max
          />
        </span>

        <span class="total">{{
          product.shoppingCartQuantity * product.price | number: "1.2-2"
        }}</span>
      </li>
    </ul>
  </section>
  <section>
    <h2>Billing Details</h2>

    <ul id="billing-details-list">
      <li>
        <span class="total">
          <label for="total">Total without tax: </label>
          <span class="value">{{ total | number: "1.2-2" }}</span>
        </span>
      </li>
      <li>
        <span class="total">
          <label for="total">Tax(5%): </label>
          <span class="value">{{ total * 0.05 | number: "1.2-2" }}</span>
        </span>
      </li>
      <li>
        <span class="total">
          <label for="total">Shipping charge(10%): </label>
          <span class="value">{{ total * 0.1 | number: "1.2-2" }}</span>
        </span>
      </li>
      <li>
        <span class="total">
          <label for="total">Total cost: </label>
          <span class="value">{{
            total * 0.15 + total | number: "1.2-2"
          }}</span>
        </span>
      </li>
    </ul>
  </section>
  <section>
    <ul id="billing">
      <span class="address">
        <h3 for="address">Shipping Address:</h3>
        <textarea class="form-control" id="street"></textarea>
      </span>

      <span class="checkbox">
        <input type="checkbox" class="form-check-input" id="exampleCheck3" />
        <label class="form-check-label" for="exampleCheck3"
          >I have read and agree to the website terms and conditions *</label
        >
      </span>

      <button class="button" (click)="showMessageSoon()">Place Order</button>
      <p *ngIf="showMyMessage">
        Your order is placed. Expect delivery in two weeks.
      </p>
    </ul>
  </section>
</main>
